.clearfix:after
{
	content: '';
	display: block;
	clear: both;
}

body
{
	max-width: 100%;
	margin: 0;
	background: #444 url(../img/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.main-wrapper
{
	background:rgba(0, 0, 0, 0.3);
}


nav
{
	height: 50px;
	/* background: #000; */
	color: #fff;
	/* background:rgba(0, 0, 0, 0.3); */
	position: fixed;
	width: 100%;
}

nav .logo
{
	float: left;
	line-height: 50px;
	padding: 0 30px;
	font-size: 24px;
	letter-spacing: 4px;
	font-family:"Comic Sans MS","幼圆","黑体",sans-serif;
	/* font-family:"Times New Roman",Georgia,Serif; */

}

nav .logo2
{
	float: right;
	line-height: 50px;
	font-size: 18px;
	letter-spacing: 4px;
	font-family:arial, sans-serif;
}

.logo2 a
{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 0 20px;
}

.banner
{
	/* background: gray; */
	text-align: center;
	color: #fff;
}

.banner .inner
{
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
}

.header
{
	padding: 10px 0;
}

.inner .header p
{
	/* margin :0; */
	float: left;
	padding: 10px;
	/* border-top: 3px solid white; */
	/* border-bottom: 3px solid white; */
	/* font-family:"Times New Roman",Georgia,Serif; */
}

.header .h-one
{
	width: 60%;
	margin: 50px auto;
	font-size: 80px;
	font-family: "Comic Sans MS","幼圆","黑体",sans-serif;
}

.header .h-two
{
	text-shadow: 3px 3px 5px gray;
	width: 30%;
	font-size: 30px;
	font-family: font-family:"Times New Roman",Georgia,Serif;
	/* position: relative;
	top: 100px;
	left: 50px; */
	margin: 90px 5px;
}

.inner .happy
{
	text-shadow: 3px 3px 5px gray;
	font-size: 50px;
	margin: 0;
	padding-bottom: 30px;
	font-family: "Comic Sans MS","幼圆","黑体",sans-serif;
}
.inner .more
{
	margin: 0 auto;
	padding-top: 50px;
	font-size: 20px;
}

.s-part
{
	/* background:rgba(0, 0, 0, 0.3); */
}

.s-part .article
{
	max-width: 60%;
	color: #fff;
	text-align: center;
	/* background: #314156; */
	/* float: left; */
	/* padding: 20px; */
	margin: 0 auto;
	padding: 20px;
	/* border: 1px solid gray; */


}

.article .img-section
{
	float: left;
	width: 40%;

}
.article .img-section img
{
	/* border: 1px solid #000; */
	box-shadow: 3px 3px 6px 2px #000;
	width: 80%;
}

.article .text-section
{
	float: left;
	width: 60%;
	padding-top: 5%;

}

.article .text-section h2
{
	font-size: 30px;
}

.article .text-section
{
	font-size: 40px;
}

.article:after
{
	content: '';
	display: block;
	clear: both;
}

.article .some-more
{
	font-size: 30px
}

footer
{
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	min-height: 100px;
	width: 100%;
	text-align: center;
}

ul
{
	margin: 0;
	padding: 0;
}

ul.share-group
{
	width: 70%;
	display: block;
	list-style: none;
	margin: 0 auto;
	padding-top: 10px;
}

.share-group li
{
	display: inline-block;
	padding: 10px;
}

.share-group li a
{

	color: #fff;
	display: block;
	text-decoration: none;
	padding: 5px;
}

.copy
{
	padding: 20px;
}